@model FIT5120_Onboarding.Models.GarbageQuery
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("SearchColour", "GarbageQuery", FormMethod.Post))
{
    <p>Find the bin colour</p>
    <p>Enter garbage type:</p>
    @Html.TextBoxFor(model => model.GarbageEntered)
    @Html.ValidationMessageFor(model => model.GarbageEntered)
    <button type="submit">Search</button>
    <br />
    <p>Bin colour:</p>@Html.DisplayFor(model => model.BinColour)
}

