@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/indexStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="home-make-a-booking col-12">
        <div class="make-booking-text">
            <div class="text-large">Reduce waste,<br>
                                    Let's do recyling</div>
            <div class="text-mid">Quick pages<br>Victoria Waste Statistics<br>Find Your Community Statistics<br>Waste Management Guide<br>Quick pagesWaste Collection Schedule</div>
            <!--<div class="text-mid">Victoria Waste Statistics</div>
            <div class="text-mid">Find Your Community Statistics</div>
            <div class="text-mid">Waste Management Guide</div>
            <div class="text-mid">Quick pagesWaste Collection Schedule</div>-->
        </div>
    </div>

</body>