@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/indexStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="home-make-a-booking col-12">
        <div class="make-booking-text">
            <div class="text-large">Reduce waste,<br>Let's do recyling</div>
            <div class="text-mid">Quick pages</div><br>
            <div class="text-mid" , style=" background-color: black">> Victoria Waste Statistics</div><br>
            <div class="text-mid" , style=" background-color: black">> Find Your Community Statistics</div><br>
            <div class="text-mid" , style=" background-color: black">> Waste Management Guide</div><br>
            <div class="text-mid" , style=" background-color: black">> Quick pagesWaste Collection Schedule</div><br>
        </div>
    </div>

</body>