@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/indexStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="home-make-a-booking col-12">
        <div class="make-booking-text">
            <div class="text-large">Reduce waste,<br>Let's do recyling</div>
            <div class="text-mid">Quick pages</div><br>
            <div class="text-mid" , style=" background-color: black">> Victorian Waste Statistics</div><br>
            <div class="text-mid" , style=" background-color: black">> Waste Statistics by Suburb</div><br>
            <div class="text-mid" , style=" background-color: black"><a href="https://localhost:44361/WasteManagementGuide" style="color: white">> Waste Management Guide</a></div><br>
            <div class="text-mid" , style=" background-color: black"><a href="https://localhost:44361/AddressQuery" style="color: white">> Waste Collection Schedule</a></div><br>
        </div>
    </div>
</body>