@model FIT5120_Onboarding.Models.GarbageQuery
@{
    ViewBag.Title = "Choose the bin that you would like to learn more about";
}
<h2>@ViewBag.Title</h2>
<div class="col-md-12">
    <div class="col-md-4">
        <a href="https://wastemanagementvictoria.azurewebsites.net/WasteManagementGuide/GreenBin"><img src="~/Images/green bin.JPG" /></a>
    </div>
    <div class="col-md-4">
        <a href="https://wastemanagementvictoria.azurewebsites.net/WasteManagementGuide/RedBin"><img src="~/Images/red bin.JPG" /></a>
    </div>
    <div class="col-md-4">
        <a href="https://wastemanagementvictoria.azurewebsites.net/WasteManagementGuide/YellowBin"><img src="~/Images/yellow bin.JPG" /></a>
    </div>
</div>
<div class="col-md-12">
    <h2>Find the waste guide for a specific item</h2>
    <div class="col-md-6">
        <img src="~/Images/poeple_rubbish.jpg" />
    </div>
    <div class="col-md-6">
        <br />
        <br />
        <br />
        @using (Html.BeginForm("SearchBin", "WasteManagementGuide", FormMethod.Post))
        {
            <h4>What is the item that you are looking for?</h4>
            @Html.TextBoxFor(model => model.GarbageEntered)
            @Html.ValidationMessageFor(model => model.GarbageEntered)
            <button type="submit">Search</button><br />
            @Html.DisplayFor(model => model.BinColour)
        }
    </div>
    </div>
